<div class="container" ng-controller="CreatorsController">
  <div class="page-header">
    <h1>Creators</h1>
  </div>

  <div class="container" infinite-scroll="loadMore()">
    <div class="row resultCount">
      <h4>{{numberOfResults}} Results Found</h4>
    </div>
    <div class="row comicOverview" ng-repeat="creator in creators">
      <div class="col-sm-4"> 
        <a ng-href="/creators/{{creator.id}}"> 
          <image class="img-thumbnail img-responsive" ng-src="{{creator.thumbnail.path}}.{{creator.thumbnail.extension}}" /> 
        </a>
      </div>
      <div class="col-sm-8">
      <h2 ng-href="creators/{{creator.id}}">{{creator.fullName}}</h2>
        <dl class="dl-horizontal">
          <dt ng-show="creator.comics.available"> Comics </dt>
          <dd ng-show="creator.comics.available">
            <ul>
              <li ng-repeat="comic in creator.comics.items"> 
                <span>
                  <a href="#"><span ng-click="redirect(creator.resourceURI, 'series')"> {{comic.name}} </span></a>
                  <em> {{comic.role}} </em> 
                </span>
              </li>
          </dd>
          <dt ng-show="creator.series.available"> Series </dt>
          <dd ng-show="creator.series.available">
            <ul>
              <li ng-repeat="series in creator.series.items"> 
                <span>
                  <a href="#"><span ng-click="redirect(creator.resourceURI, 'series')"> {{series.name}} </span></a>
                  <em> {{series.role}} </em> 
                </span>
              </li>
          </dd>
        </dl>
      </div>
      <br/>
    </div>
    <div class="row" ng-show="loading">
       <progressbar class="progress-striped active" value="100" type="info"> <i>Loading</i></progressbar>
    </div>
  </div>